[submodule "network_bridge"]
	path = network_bridge
	url = git@github.com:David-OC17/network_bridge.git
[submodule "src/oradar_ros"]
	path = src/oradar_ros
	url = git@github.com:David-OC17/oradar_ros.git
[submodule "src/collab_nav_uav"]
	path = src/collab_nav_uav
	url = git@github.com:NoeRos22/collab_nav_uav.git
[submodule "src/optitrack_client"]
	path = src/optitrack_client
	url = git@github.com:NoeRos22/optitrack_client.git
[submodule "src/LightGlue-ONNX-Jetson"]
	path = src/LightGlue-ONNX-Jetson
	url = git@github.com:limshoonkit/LightGlue-ONNX-Jetson.git
