[submodule "network_bridge"]
	path = network_bridge
	url = git@github.com:David-OC17/network_bridge.git
[submodule "src/network_bridge"]
	path = src/network_bridge
	url = git@github.com:David-OC17/network_bridge.git
[submodule "src/oradar_ros"]
	path = src/oradar_ros
	url = git@github.com:David-OC17/oradar_ros.git
